@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #111111;
}

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  .nav-link-header {
    @apply text-white font-bold relative py-1 cursor-pointer after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full;
  }

  .nav-link-footer {
    @apply text-white cursor-pointer hover:underline;
  }
}

@layer utilities {
  @keyframes bounce-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

  .animate-bounce-down {
    animation: bounce-down 2s ease-in-out infinite;
  }
}